body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-image: url(../images/搜索背景.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  color: #000000;
  overflow-x: hidden;
  margin-top: 50px;
}

header {
  color: #7fe9e9;
  padding: 10px 0;
  font-size: 18px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

nav {
  text-align: center;
  margin-top: 5px;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #7fe9e9;
  transition: color 0.3s ease;
}

nav ul li a:hover {
  color: #ffd700;
}

main {
  text-align: center;
  margin-top: 80px;
}

section#search {
  background-color: rgba(223, 241, 240);
  border-radius: 12px;
  margin: 20px auto;
  padding: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  width: 80%;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  box-sizing: border-box;
  border: 2px solid #c2bbbb;
  border-radius: 4px;
  font-size: 16px;
  font-style: italic;
}

button {
  background-color: #61ccdf;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

footer {
  color: #7fe9e9;
  text-align: center;
  padding: 10px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}